body { background: #ac000a; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 18px; display: flex; }
.block-session-0 { color: #88b227; font-size: 19px; margin-bottom: 5px; }
.block-shipping-1 { color: #185501; font-size: 15px; margin-bottom: 5px; }
.block-logger-2 { color: #de8b02; font-size: 15px; margin-bottom: 5px; }
.block-product-3 { color: #476d06; font-size: 21px; margin-bottom: 5px; }
.block-product-4 { color: #f538ab; font-size: 12px; margin-bottom: 5px; }